{% extends 'base_login.html.twig' %}

{% block title %} Recuperação de Senha {% endblock %}

{% block body %}
    {{ include('_helpers/form_vertical.html.twig', {'form': form, 'submit_label': 'Confirmar Nova Senha'}, with_context = false) }}
    <form id="form_recupera" name="form_recupera" enctype="application/x-www-form-urlencoded" method="post" action="" class="user form-vertical">
        <hr/>

    </form>
{% endblock %}
